<%- include("header") -%>
    
    <h2>This is about us here at the to-do-list.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quam voluptatem at suscipit unde neque, atque quasi aut veniam voluptas earum officiis.</p>

<%- include("footer") -%>